.carousel{
  
  padding-bottom: 0.3rem;
  background: #fff;
}
.entry{
  
  width: 20%;
  line-height: 0.48rem;
  color: #666;
  text-align: center;
}
.entry img{
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0.2rem auto;
}
.toggle{
  position: absolute;
  top: 1.6rem;
  right: 0.2rem;
  z-index: 999;
}